@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    font-family: 'Euclid Galactic', 'Montserrat', 'Nothing You Could Do';

    background: var(--Soft-black, rgba(21, 21, 21, 1));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.borderMask {
    /* display: block; */
    width: auto;
    height: 920px;
    top: 42.74px;
    left: 40.74px;
    right: 40.74px;
    bottom: 0;
    position: absolute;
    background: rgba(39, 39, 39, 0.3);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
}

.borderMask::before {
    display: flex;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    border: 1px solid transparent;
    border-image: linear-gradient(
        156.52deg,
        rgba(255, 255, 255, 0.4) 10.12%,
        rgba(255, 255, 255, 0.0001) 49%,
        rgba(255, 255, 255, 0.0001) 44.33%,
        rgba(255, 255, 255, 0.1) 73.02%
    );
    border-image-slice: 30 30 30 30 fill;
    box-sizing: border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.puseudoBg {
    background: rgba(39, 39, 39, 0.3);
}

@font-face {
    font-family: 'Euclid Galactic';
    src: url('../../public/fonts/EuclidGalactic-1G.woff2') format('woff2'),
        url('../../public/fonts/EuclidGalactic-1G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Galactic';
    src: url('../../public/fonts/EuclidGalactic-3G.woff2') format('woff2'),
        url('../../public/fonts/EuclidGalactic-3G.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NothingYouCouldDo';
    src: url('../../public/fonts/NothingYouCouldDo1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.customFont {
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -1.5595419883728027px;
    background: linear-gradient(
        129.61deg,
        #9ae2c8 3.35%,
        #20d795 34.12%,
        #0c5f55 105.89%
    );
    -webkit-background-clip: text; /* For webkit browsers */
    -webkit-text-fill-color: transparent; /* For webkit browsers */
    background-clip: text; /* Standard property */
    color: transparent; /* Fallback for non-webkit browsers */
}
.customFontStyle {
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    letter-spacing: -3px;
    background: linear-gradient(90.17deg, #20d795 0.75%, #114f6a 129.85%);
    -webkit-background-clip: text; /* For webkit browsers */
    -webkit-text-fill-color: transparent; /* For webkit browsers */
    background-clip: text; /* Standard property */
    color: transparent; /* Fallback for non-webkit browsers */
}

.borderMaskSearch {
    width: 400px;
    height: 64px;
    position: relative;
    background: rgba(39, 39, 39, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    box-shadow: 0px 5.51px 5.51px 0px rgba(61, 61, 61, 0.2) inset;
    overflow: hidden; /* Ensure the pseudo-element is contained */
}

.borderMaskSearch::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 1px; /* Adjust the border thickness */
    background-image: linear-gradient(
        to bottom right,
        hsla(0, 0%, 100%, 0.4),
        hsla(0, 0%, 100%, 0) 50%,
        hsla(0, 0%, 100%, 0.1)
    );

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-sizing: border-box;
}

.searchBtn {
    width: 64px;
    height: 64px;
    position: relative;
    background-image: linear-gradient(
        to bottom right,
        #fff,
        #20d795 15%,
        #145765
    );
    backdrop-filter: blur(10px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.searchBtn::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 2px; /* Adjust the border thickness */
    background: linear-gradient(
        156.52deg,
        rgba(255, 255, 255, 0.4) 2.12%,
        rgba(255, 255, 255, 0.0001) 39%,
        rgba(255, 255, 255, 0.0001) 54.33%,
        rgba(255, 255, 255, 0.1) 93.02%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-sizing: border-box;
}
.zeroVector {
    border: 2px solid;
    border-image: rgba(180, 180, 180, 1);
    border-radius: 13px;
    width: 24px;
    height: 34.29px;
}

@keyframes verticalRoundTrip {
    0% {
        transform: translateY(50%); /* Start further down */
    }
    50% {
        transform: translateY(calc(580% - 74.29px)); /* Stop above the bottom */
    }
    100% {
        transform: translateY(50%); /* Return to the lower starting point */
    }
}

.vertical-round-trip {
    animation: verticalRoundTrip 3s infinite;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.bg-video-time-line-back {
    background-color: hsla(0, 0%, 85%, 0.5);
}
.bg-video-time-line-active {
    background-color: #20d795;
}

.letterWidget {
    /* display: block; */
    width: auto;
    height: 100 vh;
    top: 2050px;
    left: 40.74px;
    right: 40.74px;
    bottom: 0;
    position: absolute;
    background: rgba(39, 39, 39, 0.3);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
}

.letterWidget::before {
    display: flex;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    border: 1px solid transparent;
    border-image: linear-gradient(
        156.52deg,
        rgba(255, 255, 255, 0.4) 10.12%,
        rgba(255, 255, 255, 0.0001) 49%,
        rgba(255, 255, 255, 0.0001) 44.33%,
        rgba(255, 255, 255, 0.1) 73.02%
    );
    border-image-slice: 30 30 30 30 fill;
    box-sizing: border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.bg-green {
    background: var(--Primary-color, rgba(32, 215, 149, 1));
}
.bg-disable {
    background: var(--Gray, rgba(100, 100, 100, 1));
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.font-carousel {
    font-family: Nothing you Could Do;
}

.bg-search-btn-gradient {
    background-image: linear-gradient(
        to bottom right,
        #fff,
        #20d795 15%,
        #145765
    );
}

.bg-custom {
    color: rgba(180, 180, 180, 1);
}
